Repository vanman2024/recruitment_ops, changes with the labels that .github/labeler.yml gives for each.
All labels: catsone, integration, processors, utilities, ai-ml, test, documentation, github-workflows, dependencies, configuration

.github/labeler.yml:

# Label configuration for PR labeler
# This helps automatically label PRs based on file changes

catsone:
  - catsone/**/*
  - "*.py"

integration:
  - catsone/integration/**/*
  - "**/integration/**/*"

processors:
  - catsone/processors/**/*
  - "**/process_*.py"
  - "**/batch_*.py"

utilities:
  - catsone/utils/**/*
  - "**/webhook_*.py"
  - "**/slack_*.py"

ai-ml:
  - "**/gemini_*.py"
  - "**/intelligent_*.py"
  - "**/ai_*.py"
  - "**/ml_*.py"

test:
  - test/**/*
  - tests/**/*
  - "*.test.*"
  - "*.spec.*"

documentation:
  - "*.md"
  - docs/**/*
  - .claude/**/*.md

github-workflows:
  - .github/**/*

dependencies:
  - requirements.txt
  - setup.py
  - pyproject.toml
  - Pipfile
  - Pipfile.lock

configuration:
  - "**/config.py"
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - .env*

chore: Clean up project structure and organize test files
  .env.example
  README.md
  catsone/docs/SYSTEM_DESIGN.md
  tests/README.md
  tests/__init__.py
Labels: catsone, test, documentation, configuration

feat: Implement Claude Opus 4 vision analysis with dynamic AI formatting
  PROCESSING_GUIDE.md
  catsone/integration/cats_integration.py
  catsone/processors/ai_notes_formatter.py
  catsone/processors/attachment_classifier.py
  catsone/processors/batch_processor.py
  catsone/processors/cats_notes_updater.py
  catsone/processors/claude_vision_analyzer.py
  catsone/processors/complete_questionnaire_extractor.py
  catsone/processors/comprehensive_attachment_processor.py
  catsone/processors/dayforce_questionnaire_handler.py
  catsone/processors/document_processor.py
  catsone/processors/dynamic_extraction_system.py
  catsone/processors/gemini_helper.py
  catsone/processors/integrated_candidate_analyzer.py
  catsone/processors/integrated_pipeline.py
  catsone/processors/intelligent_candidate_processor.py
  catsone/processors/intelligent_job_matcher.py
  catsone/processors/job_requirements_extractor.py
  catsone/processors/process_candidate.py
  catsone/processors/questionnaire_extractor.py
  catsone/processors/resume_downloader.py
  catsone/processors/robust_questionnaire_parser.py
  catsone/processors/vision_questionnaire_analyzer.py
  check_and_process.py
  check_notes.py
  check_workflow_statuses.py
  process_candidate.py
  status_webhook.py
Labels: catsone, integration, processors, ai-ml, documentation

chore: Move log files to logs/ directory and update .gitignore
  .gitignore
Labels: none

refactor: Organize all scripts and docs into proper directories
  README.md
  docs/PROCESSING_GUIDE.md
  docs/QUICK_REFERENCE.md
  process.py
  scripts/process_candidate.py
  scripts/run_tests.py
  scripts/status_webhook.py
  scripts/test_candidate.sh
  test.sh
Labels: catsone, processors, documentation

feat: Add webhook handling and monitoring scripts
  catsone/scripts/monitor_webhooks.py
  catsone/scripts/process_candidate.py
  catsone/scripts/webhook_handler.py
Labels: catsone, processors, utilities

feat: Add questionnaire monitoring and processing scripts
  scripts/README_questionnaire_processing.md
  scripts/process_specific_candidate.py
  scripts/questionnaire_monitor.py
  scripts/questionnaire_monitor.service
  scripts/start_questionnaire_monitor.sh
  scripts/status_webhook.py
Labels: processors

feat: Add Slack notifications when AI notes are generated
  catsone/processors/intelligent_candidate_processor.py
Labels: catsone, processors, ai-ml

fix: Update CATS URL format for Slack notifications
  catsone/processors/intelligent_candidate_processor.py
Labels: catsone, processors, ai-ml

feat: Update MCP configuration with HTTP servers
  .claude/mcp_config.json
Labels: none

feat: Add Vercel deployment configuration
  api/index.py
  api/questionnaire-monitor.py
  requirements.txt
Labels: dependencies

fix: Change cron schedule from every 5 hours to every 5 minutes
  vercel.json
Labels: configuration

fix: Rewrite Vercel function to use proper format
  .gitignore
  api/questionnaire-monitor.py
  catsone/processors/attachment_classifier.py
  catsone/processors/comprehensive_attachment_processor.py
Labels: catsone, processors

fix: Add index.html to resolve 404 error on root path
  index.html
Labels: none

fix: Strip whitespace from API keys to prevent header errors
  api/questionnaire-monitor.py
  vercel.json
Labels: configuration

feat: Add test endpoint to debug environment variables
  api/test.py
Labels: none

fix: Use rewrites instead of routes to allow API endpoints to work
  vercel.json
Labels: configuration

fix: Add better error handling for tag extraction
  api/debug-monitor.py
  api/questionnaire-monitor.py
Labels: none

fix: Use 'title' field instead of 'name' for CATS tags
  api/debug-monitor.py
  api/questionnaire-monitor.py
Labels: none

fix: Optimize questionnaire monitor to prevent timeouts
  api/check-candidate.py
  api/questionnaire-monitor.py
  vercel.json
Labels: configuration

feat: Add deployment options for questionnaire processor
  .github/workflows/process-questionnaires.yml
  Dockerfile
  docker-compose.yml
Labels: github-workflows, configuration

fix: Add PYTHONPATH and complete requirements.txt for GitHub Actions
  .github/workflows/process-questionnaires.yml
  requirements.txt
Labels: github-workflows, dependencies

fix: Use relative paths instead of hardcoded paths
  scripts/questionnaire_monitor.py
Labels: none

fix: Use compatible anthropic library version
  requirements.txt
Labels: dependencies

fix: Use latest anthropic library version without pinning
  requirements.txt
Labels: dependencies

fix: Add specific versions to requirements.txt
  requirements.txt
Labels: dependencies

fix: Use POST method for adding tags to CATS
  scripts/check_candidate_tags.py
  scripts/questionnaire_monitor.py
Labels: none

fix: Correct CATS tag attachment using tag IDs
  scripts/check_tag_exists.py
  scripts/questionnaire_monitor.py
Labels: none

refactor: Change tag from 'ai_notes_generated' to 'AI Notes Generated'
  api/check-candidate.py
  api/questionnaire-monitor.py
  scripts/check_tag_exists.py
  scripts/questionnaire_monitor.py
Labels: none

fix: Increase candidate search window to 7 days
  scripts/debug_candidate_search.py
  scripts/process_specific_candidate_direct.py
  scripts/questionnaire_monitor.py
Labels: processors

feat: Add PillowFormEnhancer for advanced image preprocessing
  catsone/processors/pillow_form_enhancer.py
Labels: catsone, processors

feat: Add PDFFormExtractor for direct PDF form field extraction
  catsone/processors/pdf_form_extractor.py
Labels: catsone, processors

feat: Integrate hybrid extraction system with Pillow enhancement and PDF extraction
  catsone/processors/comprehensive_attachment_processor.py
Labels: catsone, processors

feat: Enhance Claude Vision prompts with confidence scoring and better enhanced image detection
  catsone/processors/claude_vision_analyzer.py
Labels: catsone, processors

feat: Update intelligent processor to handle hybrid extraction with confidence tracking
  catsone/processors/intelligent_candidate_processor.py
Labels: catsone, processors, ai-ml

feat: Add comprehensive test scripts for enhanced extraction validation
  scripts/test_enhanced_extraction.py
  scripts/test_micheal_hennigar_questionnaire.py
Labels: none

docs: Add comprehensive implementation summary for enhanced extraction system
  docs/ENHANCED_EXTRACTION_SUMMARY.md
Labels: documentation
